{% for group, options, index in widget.optgroups %}
    {% for option in options %}
        <label class="flex items-center space-x-2">
            <input type="checkbox" 
                   name="{{ option.name }}"
                   value="{{ option.value }}"
                   {% if option.attrs.checked %}checked{% endif %}
                   class="rounded bg-gray-700 border-gray-600 text-red-500 focus:ring-red-500"
                   {% if option.attrs.required %}required{% endif %}>
            <span class="text-sm">{{ option.label }}</span>
        </label>
    {% endfor %}
{% endfor %}